.membrosContainer md-content.autocomplete {
  min-height: 250px; }
  .membrosContainer md-content.autocomplete input {
    min-width: 400px; }

.membrosContainer .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.membrosContainer .membro-item {
  box-sizing: border-box; }
  .membrosContainer .membro-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px; }
    .membrosContainer .membro-item .md-list-item-text h3 {
      margin: 0 !important;
      padding: 0;
      line-height: 1.2em !important; }
    .membrosContainer .membro-item .md-list-item-text h3, .membrosContainer .membro-item .md-list-item-text p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  @media (min-width: 960px) {
    .membrosContainer .membro-item {
      float: left;
      width: 33%; } }

.membrosContainer .fixedRows {
  height: 250px;
  overflow: hidden; }
