.containerprojetos
  min-height: 250px 
  border 1px solid $dividerColor
  padding 10px
  border-radius 2px
  margin-bottom 20px
  display flex
  align-content: space-between
  > .projetos
    width: 47%
    padding: 10px
    > .titulo
      font-size: pt(20px)
      font-family 'lato bold'
      margin-bottom: 10px
      color $darkAccentColor

    > .header
      font-family 'lato regular'
      color: $accentColor 
      display: flex
      align-items: flex-start
      height: 25px
    
    > .items
      font-family 'lato light'
      display: flex
      align-items: flex-start
      border-top 1px solid $dividerColor
      padding-top: 10px
    
.containertarefas
  min-height: 250px 
  border 1px solid $dividerColor
  padding 10px
  border-radius 2px
  margin-bottom 20px

  > .titulo
    font-size: pt(20px)
    font-family 'lato bold'
    margin-bottom: 10px
    color $darkAccentColor

  > .items
    font-family 'lato light'
    display: flex
    align-items: flex-start
    border-top 1px solid $dividerColor
    padding-top: 10px

  > .mensagemAviso
    margin-top 30px
    text-align: center
    font-size: pt(26px)
    color $messageWarn
    font-family 'lato light'

.width70
  width: 70%
.width30
  width: 30%