.projeto-container
  padding 20px

  > .lista
    > .item
      width: 100% 
      padding 10px
      border 1px solid $secondaryTextColor
      border-radius 2px
      margin-bottom 10px
      color $primaryTextColor
      display: flex

      > .width80
        width: 80%
      > .width20
        width: 20%
      
      > .acoes
        display: flex
        flex-direction: row-reverse
        > .editar
          width: 30px
          height: 30px
          vertical-align: middle
          line-height: 30px

      > .col .linha
        display flex
        .textodestaque
          font-size pt(18px)
          font-family 'lato light'

        > .indices
          width 50%
          > .textosecundario
            font-size pt(12px)
            font-family 'lato regular'
            margin-top 10px
            display block
          
          .labelPadrao
            color: $primaryTextColor

        > .equipes
          width 50%
          display flex
          > .label
            margin-top 5px
            font-size pt(12px)
            font-family 'lato regular'

          > .equipe
            width 30px
            height 30px
            margin 0 5px
            background #777
            text-align center

            > .letra
              font-family 'lato regular'
              font-size pt(18px)
              color $darkAccentColor
              display block
      > .col .comColunas
        align-content: space-between
        > .itemDireita
          display: flex
          flex-direction: row-reverse
          .irModulos
            display: flex
            height: 32px 
            > .icon
              width: 32px
              height: 32px
              color: #9B3A00
              vertical-align: middle
              line-height: 32px

            > .link
              height: 32px
              vertical-align: middle
              line-height: 32px
              color: #9B3A00


  > .projetoForm
    font-family 'lato light'
    > .inputcontainer
      margin 15px 0
      > .label
        display block
        margin-bottom 5px
      > .input
        width 50%
        height 30px
        font-size pt(16px)
        color #111
        padding 5px
      > .textarea
        width 50%
        font-size pt(16px)
        color #111
        padding 5px

      > .message-container
        color $messageError
    > .equipes
      width: 100%

      > .fullsize
        width: 50%

    .halfpage
      width 50%

    > .botoes
      margin 20px 0
      > .botaoCadastrar
        width 150px
        height 45px
        border none
        background $darkAccentColor
        cursor pointer
        font-size pt(18px)
        color $textPrimaryColor

      > .botao_desabilitado
        cursor auto
        background #BBB

.equipesSelect 
  margin-left: 40px;

.dataProjeto
  height: 40px
  margin: 12px 0 3px 0px

.leftLess15
  margin-left: -15px