div.page-header
      div.name Kanban - Modulo
      div.options
        div.option Opção 1
        div.option Opção 2

div.filtros
  div.filtro
    label(for="ComboModulo") Modulo
    select(type="select", id="ComboModulo")
      option(value="1") Modulo 1
      option(value="2") Modulo 2

div.boards(data-ng-model='kanban')
  div.section(data-ng-repeat='section in kanban.secoes')
    div.header
      div.title(data-ng-bind='section.nome')

    ul.tasks(data-as-sortable="kanbanSortOptions",
             data-ng-model='section.funcionalidades')
      li.task(data-ng-repeat='task in section.funcionalidades',
              data-as-sortable-item)
        div(data-as-sortable-item-handle)
          div(data-ng-bind='task.titulo')

    div.add
      a.button(data-ng-click='addNewTask(section)')
        svg.icon(viewBox='0 0 48 48')
            use(xlink:href='/build/images/default/layout/icons.svg#icon-add')
    div.footer

div.container-formsecao
  h3 Cadastrar nova secção
  div.formsecao
    div.inputcontainer
      label.label(for='nomeSecao') Nome
      input(type='text', id='nomeSecao', data-ng-model='novaSecao.nome')
    div.inputcontainer
      label.label(for='ordemSecao') Ordem
      input(type='number', id='ordemSecao', data-ng-model='novaSecao.ordem')

    button(data-ng-click='adicionarNovaSecao(kanban, novaSecao)') Adicionar