.page-main
  height 700px
  overflow-x hidden
  overflow-y scroll
  background #999
  padding 20px
  @media(min-width: em(800px))
    margin-left 48px

  > .content
    background blue
    min-height 1300px