md-dialog.membros-dialog(aria-label='Funcionalidade')
  md-toolbar.md-toolbar-tools
    h2 Membros equipe - {{equipeSelecionada.nome}}
    md-button.md-icon-button(ng-click='close()')
      md-icon &times

  md-dialog-content(layout='row')
    div.membrosContainer
      div.form(ng-form="emailForm")
        md-input-container.email
          label Email 
          input(required="" type="email" name="email" ng-model="emailCadastro" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/")

        div.botoes
          md-button.adicionar.md-primary.md-hue-1(data-ng-click='adicionarUsuario(emailCadastro)' ng-disabled="emailForm.$invalid") Adicionar


      div.listagem
        div.header
          h3.title Membros vinculados
        ul.list.usuarios
          li.item.usuario(ng-repeat="membro in membros track by $index")
            img.imagem(ng-src="{{imagemDefault}}" class="md-avatar" alt="{{membro.nome}}")
            div.detalhe
              h3.nome(data-ng-bind="membro.nome")
              p.email(data-ng-bind='membro.email')
            div.acoes     
              i.material-icons close