.container-geral
  padding: 20px
  > .containergrafico
    border 1px solid $dividerColor
    radius 2px
    padding: 10px 
    margin: 10px 0
    
    > .header 
      height: 40px
      margin 20px 0
      font-size: pt(20px)
      color $accentColor

    > .secao
      margin top 20px
