.funcionalidade-container
  width 100%

  > .titulo
    height 30px

  > .container
    font-family 'lato light'

    > form
      display flex

    > form .formulario
      width 100%

      > .inputcontainer
        margin 15px 0
        > .label
          display block

        > .input
          width calc(100% - 30px)
          height 30px
          font-size pt(16px)
          color #111
          padding 5px

        > textarea
          width calc(100% - 30px)
          font-size pt(16px)
          color #111
          padding 5px

        > .message-container
          color $messageError

      > .botoes
        margin 20px 0
        > .botaoCadastrar
          width 150px
          height 45px
          border none
          background $darkAccentColor
          cursor pointer
          font-size pt(18px)
          color $textPrimaryColor

        > .botao_desabilitado
          cursor auto
          background #BBB

    > form .opcoes
      width 25%
      > .inputcontainer
        margin 15px 0
        > .label
          display block

        > .input
          width calc(100% - 30px)
          height 30px
          font-size pt(16px)
          color #111
          padding 5px

        > select
          width 100%
