.funcionalidade-dialog
  width: 100%

  .funcionalidade
    width 100%
    padding 0 20px

    > .titulo
      height 30px

    > .container
      width 100%
      font-family 'lato light'

      > form
        display flex

      > form .formulario
        width 75%

        .inputContainer
          margin 15px 0
          > .label
            display block
            margin-bottom 10px

          > .input
            width calc(100% - 30px)
            height 30px
            font-size pt(12px)
            color $primaryTextColor
            padding 5px

          > textarea
            width calc(100% - 30px)
            font-size pt(12px)
            color $primaryTextColor
            padding 5px

          > .message-container
            color $messageError
        
        > .comentarios
          margin-top: 40px
          > .header
            font-size: pt(24)px
            height: 30px  
            > i
              vertical-align: middle
              line-height: 30px
              color: #512DA8
            > span 
              vertical-align: middle
              line-height: 30px
          > .botoes
            display: flex
            flex-direction: row-reverse
            padding: 0 20px

        > .historico
          > .header
            font-size: pt(24)px
            height: 30px  
            > i
              vertical-align: middle
              line-height: 30px
              color: #512DA8
            > span 
              vertical-align: middle
              line-height: 30px
          
          > .list
            margin: 10px 0
            padding: 10px
            > .item
              div 
                margin: 4px 0
              > .acao
                font-family: 'lato regular'
              > .descricao
                font-size pt(12px)
              > .data
                font-size pt(10px)
              > .divider
                margin: 10px 20px 10px 0 
                border-bottom: 1px solid $dividerColor
          
           
            

      > form .opcoes
        width 25%
        border-left 1px  solid $dividerColor
        
        > .data
          height 30px

        > .left15
          margin-left: 15px

        > .inputContainer
          margin 15px 0
          > .label
            display block

          > .input
            width calc(100% - 30px)
            height 30px
            font-size pt(16px)
            color #111
            padding 5px

          > select
            width 100%
        
        .usuarioChip
          md-content
            &.autocomplete
              min-height 250px
              input
                min-width 400px


.selectdemoSelectHeader
  .demo-header-searchbox
    border none
    outline none
    height 100%
    width 100%
    padding 0
  .demo-select-header
    box-shadow 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12)
    padding-left 10.667px
    height 48px
    cursor pointer
    position relative
    display flex
    align-items center
    width auto
  md-content
    &._md
      max-height 240px
