.filtros
  padding 20px

.boards
  height calc(100% - 200px)
  padding 20px
  width 100%
  display flex
  overflow-y hidden
  overflow-x auto

  > .sections
    display flex
    height 100%
    > .section
      width 300px
      border 1px solid $accentColor
      margin-left 2px

      > .header
        height 40px
        line-height 40px
        text-align center
        background $accentColor
        color $textPrimaryColor
        display flex

        > .title
          width 90%
          padding-left 10%
          font-size pt(20px)

        > .acoes
          width 10%
          font-size pt(22px)

      > .tasks
        padding 5px
        height calc(100% - 40px)
        overflow-y auto
        overflow-x hidden

        > .task
          padding 5px
          margin-bottom 5px
          border-radius 2px
          font-family lato light
          font-size pt(12px)
          min-height 30px
          background $taskColor
          cursor move

        > .add
          width 100%
          height 24px
          margin-bottom 5px
          > .button
            display block
            width 100%
            text-align center
            > .icon
              margin 0 auto
              width 24px
              height 24px
              background $primaryColor

      > .footer
        height 20px
        background $accentColor

.container-formsecao
  padding 20px
  > .formsecao
    display flex

    > .inputcontainer
      margin-right 10px
      > .label
        display block