.login-container
  height 100%

  > .signin
    margin 10% auto
    padding 20px
    width 40%
    border 1px solid $dividerColor
    border-radius 2px

    > .form
      > .campo
        margin-top 15px
        > label
          color $secondaryTextColor
          display block
          margin 5px 0 5px 0

        > input
          color $primaryTextColor
          height 35px
          border-radius 2px
          padding 5px
          width 100%

    > .botoes
      margin-top 20px
      display flex
      > .acessar
        width 150px
        height 45px
        border none
        background $darkAccentColor
        cursor pointer
        font-size pt(18px)
        color $textPrimaryColor

      > .botao_desabilitado
        cursor auto
        background #BBB

    > .links
      margin-top 10px
