body
  center
    table#bodyTable(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
      tr
        td#bodyCell(align='center', valign='top')
          //if gte mso 9
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600', style='width:600px;')
              tr
                td(align='center', valign='top', width='600', style='width:600px;')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          table.templateContainer(border='0', cellpadding='0', cellspacing='0', width='100%')
            tr
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            tr
              td#templateHeader(valign='top')
                table.mcnImageBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%')
                  tbody.mcnImageBlockOuter
                    tr
                      td.mcnImageBlockInner(valign='top', style='padding:9px')
                        table.mcnImageContentContainer(align='left', width='100%', border='0', cellpadding='0', cellspacing='0', style='min-width:100%')
                          tr
                            td.mcnImageContent(valign='top', style='padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center')
                              img.mcnImage(align='center', alt='', src='logoaqio', width='148', style='max-width:148px; padding-bottom: 0; display: inline !important; vertical-align: bottom')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            tr
              td#templateUpperBody(valign='top')
                table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width:100%')
