div
  p.messages_invalid(data-ng-message='required') Preencha o campo
  p.messages_invalid(data-ng-message='minlength') Campo com poucos caracteres
  p.messages_invalid(data-ng-message='maxlength') Campo com muitos caracteres
  p.messages_invalid(data-ng-message='email') Email inv치lido
  p.messages_invalid(data-ng-message='emailexists') Email j치 cadastrado
  p.messages_invalid(data-ng-message='usernameexists') Usu치rio j치 utilizado
