@font-face
  font-family "lato regular"
  src url("fonts/Lato-Regular.ttf")


@font-face
  font-family "lato light"
  src url("fonts/Lato-Light.ttf")


@font-face
  font-family "lado bold"
  src url("fonts/Lato-Bold.ttf")
  font-weight bold

