div.container-geral
  div.containerprojetos
    div.projetos.proprios
      div.titulo
        span Projetos próprios
      ul.header
        li.coluna
      ul.items
        li.item

    div.projetos.vinculados
      div.titulo
        span Projetos vinculados
      ul.header
        li.coluna
      ul.items
        li.item
  
  div.containertarefas
    div.titulo
      span Tarefas proxímos 7 dias
    ul.items(data-ng-hide="true")
      li.item

    div.mensagemAviso(data-ng-show="true")
      h1 Não existe tarefas 