div.container-geral
  div.containerprojetos
    div.projetos.proprios
      div.titulo
        span Projetos próprios
      ul.header
        li.coluna.width70 Nome
        li.coluna.width30 Andamento
      ul.items
        li.item.width70 Ecommerce
        li.item.width30 0%

    div.projetos.vinculados
      div.titulo
        span Projetos vinculados
      ul.header
        li.coluna.width70 Nome
        li.coluna.width30 Andamento
      ul.items
        li.item.width70
  
  div.containertarefas
    div.titulo
      span Tarefas proxímos 7 dias
    ul.items(data-ng-hide="true")
      li.item

    div.mensagemAviso(data-ng-show="true")
      p Não existem tarefas 