$darkPrimaryColor     = #512DA8
$primaryColor         = #673AB7
$lightPrimaryColor    = #D1C4E9
$textPrimaryColor     = #FFFFFF
$accentColor          = #607D8B
$darkAccentColor      = #9B3A00
$primaryTextColor     = #212121
$secondaryTextColor   = #727272
$dividerColor         = #B6B6B6

$inputFocusValid      = #448B33
$inputFocusInvalid    = #820C0E

$messageInfo          = #448B33
$messageWarn          = #A29506
$messageError         = #820C0E