div.page-header
  div.name Funcionalidades
  div.options
    div.option
      a.link(data-ng-href='{{systemUri.tarefaFuncionalidade()}}' selected-menu) Listagem
    div.option
      a.link(data-ng-href='{{systemUri.tarefaFuncionalidadeCadastro()}}') Cadastro

div.tarefafuncionalidade-container
  div.filtro(layout-gt-sm="row")
    md-input-container.md-block(flex-gt-sm='40')
      label Modulo
      md-select(ng-model='moduloFiltroSelecionado', data-ng-change='buscarPorModulo(moduloFiltroSelecionado)')
        md-option(ng-repeat='projetoModulo in projetoModulos', ng-value='projetoModulo.modulo')
          | {{projetoModulo.modulo.nome}}
  div.lista
    div.item(data-ng-repeat='funcionalidade in ::funcionalidades track by $index')
      div.col
        span.textodestaque(data-ng-bind="funcionalidade.titulo")
      div.col
        span.textosecundario Duração de {{funcionalidade.dataInicio | date: "dd/MM/yyyy"}} até {{funcionalidade.dataFim | date: "dd/MM/yyyy"}}
      div.col.acoes
        div.botoes
          div.editar.cursorPointer(data-ng-click="goTo(funcionalidade)")
            i.material-icons mode_edit