div.page-header
  div.name Funcionalidades
  div.options
    div.option
      a.link(data-ng-href='{{systemUri.tarefaFuncionalidade()}}' selected-menu) Listagem
    div.option
      a.link(data-ng-href='{{systemUri.tarefaFuncionalidadeCadastro()}}') Cadastro

div.tarefafuncionalidade-container
  div.filtro
  div.lista
    div.item.cursorPointer(data-ng-repeat='funcionalidade in ::funcionalidades track by $index')
      div.linha
        span.textodestaque(data-ng-bind="funcionalidade.titulo")
      div.linha
        div.indices
          span.textosecundario
        div.equipes
          span.label Duração de {{funcionalidade.dataInicio | date: "dd/MM/yyyy"}} até {funcionalidade.dataFim | date: "dd/MM/yyyy"}} 