div.container-geral
  div.containergrafico.burndown(data-ng-controller='DashboardBurndownController as mvBurn')
    div.header
      span Gráfico Burndown
    div.filtros-burndown
      div.filtro(layout-gt-sm="row")
        md-input-container.md-block(flex-gt-sm='40')
          label Modulo
          md-select(ng-model='moduloFiltroSelecionado')
            md-option(ng-repeat='modulo in modulosFiltro', ng-value='modulo')
              | {{modulo.nome}}
        md-input-container.md-block(flex-gt-sm='40')
          label Visualização
          md-select(ng-model='mv.tipoVisualizacao')
            md-option(ng-value='dias')
              | Pontos
            md-option(ng-value='tarefa')
              | Tarefas

    div.grafico
      c3chart(bindto-id="chart1")
        chart-column( column-id=""
                column-values=""
                column-type="spline")
        chart-column(column-id="Andamento"
                      column-values=""
                      column-type="line")

  include ./secao-chart.jade
    