div(data-ng-controller="HeaderController", ng-cloak)

  header.top-bar(data-menu-scroll, data-core-color, data-route="routeParams")
    div.actionmenu
      a.link(data-hide-menu,
             data-ng-click="showMenuToggle(showMenuLeft)")
          svg.icon(viewBox="0 0 48 48")
            use(xlink:href="/build/images/default/layout/icons.svg#icon-menu")
    div.hearder
      div.logo
        a.link(data-ng-href="{{systemUri.home()}}", title="Ir para o início")
          img.image(src="/build/images/default/layout/logo.png", alt="MAS")

      div.search(data-ng-if='false')
        div.icon
          svgsvg.icon(viewBox="0 0 48 48")
            use(xlink:href="/build/images/default/layout/icons.svg#icon-search")

        input.input(type="select")

      div.user(data-ng-controller='UsuarioSessaoController as mv')
        div.userdata
          i.icon.material-icons account_circle
          span(data-ng-bind='::mv.usuarioLogado.nome')
          button.sair(data-ng-click='mv.sair()') Sair
        div.projeto
          md-input-container.md-block(flex-gt-sm='40')
            label Projeto
            md-select(ng-model='projetoContaSelecionado' data-ng-change="mv.irParaKanban(projetoContaSelecionado.projeto)")
              md-option(ng-repeat='projetoConta in mv.projetosConta', ng-value='projetoConta.projeto')
                | {{projetoContaSelecionado.nome}}


  include menu
