extends layout

block body
  include header
  section.page-main(ng-cloak)

    div.content(data-ng-view)
    
    show-message(data-show="globalMessage.show",
             data-nivel="globalMessage.nivel",
             data-text="globalMessage.text")
  include js
  include footer
