doctype html
html(lang="pt-br", data-ng-app="agileTcc")
  head
    meta(charset='utf8')
    base(href='/')
    title="MAS"
    link(rel='manifest' href='build/manifest.json')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='build/css/normalize.css')
    link(rel='stylesheet', href='build/css/loader.css')
    link(rel='stylesheet', href='build/css/index.css')
    link(rel='stylesheet', href='build/css/text-angular.css')
    link(rel='stylesheet', href='build/css/ng-sortable.css')
    link(rel='stylesheet', href='build/css/ng-dialog.css')
    link(rel='stylesheet', href='build/css/ng-dialog-theme.css')
    link(rel='shortcut icon', href='image/favicon/favicon.ico', type='image/x-icon')
  body(data-device-detector)
    div(data-ng-if='!showLogin')
      block body

    div(data-ng-if='showLogin')
      ng-include(src="'/expose/login/login'")