div.menuoverlay(data-ng-click='showMenuToggle(showMenuLeft)',
                data-ng-show='showMenuLeft')

aside.left-menu(data-ng-show='(isDesktop || showMenuLeft)')
  nav.menu(data-ng-controller='MenuController')
    div.hearder(data-ng-if='isMobile')
      div.logo
        a.link(data-ng-href='{{systemUri.home()}}', title='Ir para o início')
          img.image(src='/build/images/default/layout/logo.png', alt='MAS')

    ul.list(data-ng-controller='AcessoMenuController as mv')
      li.item(data-ng-repeat='menu in mv.menus track by $index')
        a.link(data-ng-href='{{menu.url}}', data-selected-menu)
          md-tooltip(md-direction="right") {{menu.nome}}
          svg.icon(viewBox='0 0 48 48')
            use(xlink:href='{{"/build/images/default/layout/icons.svg#" + menu.icon}}')
          span.label(data-ng-bind='menu.nome')
        
        ul.listsubitem
          li.subitem
            a.link Sub item 1
          li.subitem
            a.link Sub item 2